.main {
  margin: -8px;
  
  /* max-width: 100%; */
  background: rgb(242, 236, 236);
  background: radial-gradient(
    circle,
    rgba(242, 236, 236, 1) 0%,
    rgba(151, 219, 183, 1) 100%
  );
}
/*  --------------------------------------------Nabar------------------------------------ */

.navbar-main {
  
  display: flex;
 gap: 160px;
  align-items: center;
  justify-content: space-evenly;
  
}

.navbar_header{

  margin: 0;
  cursor: pointer;
  color: #54BD95;
  font-size: 50px;
  font-weight: 600;
}

.navbar-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.separator {
  display: flex;
  gap: 130px;
}
/*  --------------------------------------------Hero------------------------------------ */

.hero-main{
 padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 180px;
}

.hero_header{
  /*  style={{ fontSize: "80px", fontWeight: "700", margin: "0" }} */
  font-size: 80px;
  font-weight:700 ;
  margin: 0;
}
.hero_para{
            margin-top:40px ;
            width: 461px;
            font-weight: 500;
            line-height: 30px;
}

.left_section_hero{
  width: 555px;
  padding-left: 40px;
}

.trail-btn{
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 50px 0 0 0;
}

.free_trail{
              padding: 20px 30px;
              border: 1px solid #54BD95;
              background: #54BD95;
              color: white;
              font-size: 18px;
              border-radius: 40px;
}

.demo{
  margin: 0;
  font-weight: 500;
  font-size:18px ;
}

.hero_image{
position: relative;
}



.bottom_section-hero{
  padding: 100px 0 0;
  text-align: center;
}

.bottom_section-hero_header{
  font-size: 40px;
  font-weight: 700;
}

.bottom_collabs{
  margin-top: 60px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.unsplash_para,.notion_para,.intercom_para,.descript_para,.grammarly_para{
  margin: 0;
  color: #A6A6A6;
  font-size: 30px;
  font-weight: 400;
}
/* 
--------------------------------------------support------------------------------------ */
.support_main{
  display: flex;
  gap: 50px;
justify-content: center;
align-items: center;
margin-top: 40px;
background-color: #dad8e8;
}

.left_side_support{
  width:617px;
  padding:80px 0 0 ;
}

.support_header{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.support_desc{
  margin-top: 30px;
  width: 644px;
  font-size: 16px;
  font-weight: 500;
  color: #A6A6A6;
  line-height: 30px;
}

.publishing_text,.analytics_text,.engagement_text{
  margin: 0;
  font-weight: 700;
  font-size: 28px;
}

.publishing_desc,.analytics_desc,.engagement_desc{

font-size: 18px;
color: #A6A6A6;
font-weight: 500;
margin-top: 10px;
width: 428px;
line-height: 25px;
}

.rating_support{
  margin: 70px 0 ;
  display: flex;
  gap: 80px;
  align-items: center;
}

.right_side_support{
  margin:75px 0 0 0 ;
  
}

/* --------------------------------------------Features------------------------------------ */

.feature_main{
  margin:60px 0 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_one{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 120px;
}

.feature_header{
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  width: 320px;
}

.feature_para{
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #A6A6A6;
  margin: 0;
  width: 461px;
}

.feature_btn{
background-color:#54BD95 ;
color: white;
padding: 18px;
border: 1px solid #54BD95;
border-radius: 70px;
margin-right: 50px;
}

.section_two{
  display: flex;
  gap: 48px;
  align-items: center;
  padding: 74px 50px 0 ;
}

.section_two_collab{
  margin: 40px 0;
}

.collab_para,.cloud_para,.daily_para{
  margin: 10px 0 0;
  font-size: 30px;
  font-weight: 600;
}

.collab_desc,.cloud_desc,.daily_desc{
  margin: 15px 0 ;
  font-size: 18px;
  font-weight: 500;
  color:#A6A6A6 ;
  width: 340px;
}
/* --------------------------------------------Benefits------------------------------------  */
.benefit_main{
  margin:130px 80px 0 0;
  display: flex;
 margin: 0 180px;
  justify-content:space-between;
  align-items: center;
}

.laptop_image{
  position: relative;
}

.benefit_header{
          width: 429px;
          font-size: 50px;
          font-weight: 700;
          margin: 0;
}

.benefits{
margin: 50px 0 0;
}

/* --------------------------------------------Plans------------------------------------  */
 
.plans_main{
  margin: 130px 0 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plans_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plans_header{
  font-size: 50px;
  width: 492px;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.plans_para{
  margin-top: 30px;
  font-size: 18px;
  font-size: 18px;
  font-weight: 700;
  color: #A6A6A6;
}

.plans_type_box{
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  gap: 20px;
}

.plans_type_para{
  font-size: 18px;
  font-weight: 500;
}
.plans_type_btn{
  background-color: #54BD95;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #54BD95;
  padding: 18px;
  width: 160px;
}

.plans{
  display: flex;
  gap: 29px;
}

.free_plan,.business_plan{
  width: 374px;
  height: 650px;
  background-color: white;
  border-radius: 20px;
  margin-top: 89px;
  margin-bottom: 60px;
}

.free_inner,.business_inner{
  width: 334px;
  height: 390px;
  background-color: #f9fafb;
  margin-left: 20px;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
 
}

.pro_plan{

margin-top: 67px;
cursor: pointer;
}



/* --------------------------------------------Footer------------------------------------  */
.footer_main{
  background-color: #161C28;
  display: flex;
justify-content: space-between;
  align-items: center;
  color: white;
  padding: 130px 130px 0;
}

.footer_header{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  width: 444px;
}

.footer_para{
  width: 100%;
  font-size: 18px;
  color: #A6A6A6;
}

.footer_desc{
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #A6A6A6;
  width: 461px;
}

.input_form::placeholder{
font-size: 14px;
font-weight: 500;
color: #A6A6A6;
padding: 10px;
}

.footer_people{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.right_side_footer{
  padding-left: 50px;
  width: 580px;
  height: 588px;
  background-color: #222938;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_form{
width: 100%;
margin-left: 50px;
}




.bottom_section-footer{
  color: white;
  text-align: left;
  margin-top: 5rem;
 padding-left: 130px;
 padding-right: 130px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.bottom_header{
  color: #54BD95;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
}

.bottom_para{
margin-top: 30px;
font-size: 18px;
font-weight: 500;
color: #A6A6A6;
}
.footer_placeholder{
  width: 410px;
  height: 60px;
  border-radius: 70px;
  background: transparent;
  color: white;
  border: 1px solid  #A6A6A6 ;
}

.footer_placeholder::placeholder{
  font-size: 16px;
  font-weight: 500;
  color: #A6A6A6;
  padding: 10px;
  }

  .footer_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .terms_cond{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 125px ;
    padding-bottom: 30px;
  }

  .copyright,.terms{
    font-size: 18px;
    font-weight: 500;
    margin: 50px 0 0;

  }
  

  /* ---------------------------------responsive design----------------------------------- */
  .container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  /* 2xl */
  @media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }
      

  }
  
  /* xl */
  @media (max-width: 1280px) {
    
    /* Navbar section */
    .nav-btn{
      gap: 15px;
    }
    /* hero section */
    .hero-main{
      gap: 100px;
      padding: 0;    }
    .right_section{
      display: none;
    }
    .left_section{
      width: 100%;
    }
   .vector_img{
    width: 850px;
   }
   .para_hero{
    font-size: 20px;
    min-width: fit-content;
    font-weight: 600;
   }

   /* features section */
   .section_one{
      gap: 50px;
   }
   .section_two{
    padding: 40px;
   }
    .collaboration,.cloud,.daily{
      width: 320px;
      height: fit-content;
    }
    .section_three{
        gap: 20px;
    }
    .section_three:nth-child(3){
      margin-left: 50px;
    }
   
    /* footer section */
    .right_side_footer{
      margin-left: 30px;
    }
    .footer_form{
      padding-left: 50px;
    }
   
  }
  
  /* lg */
  @media (max-width: 1127px) {
   
    /* Navbar section */
    .nav-btn-btn{
      font-size: 16px;
    }
    .nav-btn_para{
      font-size: 40px;
    }
    .separator{
      display:none;
    }
    .bottom_section-hero{
      padding:50px 0 0  ;
    }

    /* Hero Section */
    .left_section{
      width: 100%;
    }
    .hero-main{
      width: 90%;
      padding: 0;
    }
    .hero_header{
      font-size: 40px;
    }
    .hero_para{
      width: 100%;
    }
    .bottom_section-hero{
      padding:30px 0 0  ;
    }
    .vector_img{
  display: none;
    }

    /* support */
     .support_main{
      display: flex;
      flex-direction: column;
      align-items: start;
      padding-left: 50px;

     }
     .left_side_support{
      width: 100%;
     }

     .support_desc{
      width: 100%;
      font-size: 20px;
     }

     .rating_support{
      margin-top: 40px ;
      margin-bottom: 0;
     }
     .right_side_support{
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;

     }

     .publishing_img,.analytics_img,.engagement_img{
      width: 25px;
     }
     .publishing_text,.publishing_desc ,.analytics_text,.analytics_desc,.engagement_text,.engagement_desc{
      font-size: 20px;
      width: 98%;
     }

     /* Features */
    .feature_header{
      font-size: 30px;
    }
    .feature_para{
      font-size: 15px;
    }
    .feature_btn{
      font-size: 12px;
      padding: 10px 20px;
    }
.section_one{
  width: 100%;
}
    .section_two{
      flex-wrap: wrap;
      display: flex;
    }
   
    /* Benefits */

    .benefit_main{
      margin: 0;
    }
    .benefit_header{
      font-size: 50px;
      width: 90%;
    }

    .benefit_left{
      width: 90%;
    
    }

    .laptop_image{
      display: none;
    }
   
    .benefit_main{
      flex-direction: column;
    }
    .laptop_image{
      margin-top: 50px;
    }

    /* Plans */
    .plans{
      flex-wrap: wrap;
      justify-content: center;
    }
      .pro_img{
        width: 350px;
        height: 650px;
      }
      .pro_plan{
        margin: 82px 0;
      }
      .business_plan{
        margin-top: 0;
      }

      /* Footer */
        .footer_main{
          flex-direction: column;
        }
        .footer_header{
          width: 100%;
        }
        .footer_desc{
          width: 100%;
        }
        .right_side_footer{
          display: none;
        }
        .bottom_section-footer{
            flex-direction: column;
        }

        .bottom_email{
          width: 100%;
        }
        .footer_placeholder{
          width: 100%;
        }

        .footer_people{
          flex-wrap: wrap;
        }
        .footer_links{
          margin-top: 50px;
          text-align: left;
          align-items: start;
          flex-direction: column;
          min-width: 100%;
          flex-wrap: wrap;

        }
  }
  
  
  /* sm */
  @media (max-width: 642px) {
    /* Hero */
    .left_section_hero{
      width: 90%;
    }

    .hero_header{
      font-size: 45px;
    }

    .vector_img{
      flex-wrap: wrap;
      width: 300px;
    }

    .bottom_section-hero_header{
      font-size: 25px;
    }


    .bottom_collabs,.bottom_section-hero{
      flex-wrap: wrap;
      width: 100%;
    }
   
    /* features */
.section_one{
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

.section_two{
padding: 10px;
}

.section_two_collab{
  margin-bottom: 0;
}
.feature_header,.feature_para,.feature_btn{
  justify-content: center;
  width: 100%;
}

    /* benefits */
    .benefit_main{
      margin-top: 50px;
    }
    .benefit_left{
      width: 98%;
  
    margin-top: 50px;
    justify-content: end;
    align-items: end;
    flex-wrap: wrap;
    }
   
    .benefit_header{
   font-size: 35px;
   width: 100%;
    }

    /* plans */
    .plans{
      gap: 20px;
    }
    
    .plans_header{
      font-size: 40px;
      width: 100%;
    }
    .pro_img{
      width: 375px;
    }

    .free_plan,.pro_plan{
      margin-top: 15px;
      margin-bottom: 0;
    }
    .business_plan{
      margin-bottom: 50px;
    }

    /* footer */
    
.left_side_footer{
  width: 150%;
}

    .right_side_footer{
      margin-right: 20px;
      padding: 0;
    }
    .bottom_header{
      width: 100%;
    }

    .input_form{
      width: 50%;
    }

    .bottom_email,.footer_links{
      width:150%;
    }

    .footer_links{
      align-items: start;
    }
    .copyright,.terms{
      font-size: 15px;
    }

   .terms_cond{
  padding: 20px;
    
   }

  }
  


  /* xs */
  @media (max-width: 475px) {
    /* hero */

    .hero_header{
      font-size: 35px;
      width: 100%;
    }

    .hero_para{
      font-size: 15px;
      width: 100%;
    }
    .vector_img{
      width: 390px;
    }

    /* support */
    .support_main{
      gap: 20px;
    }
    .left_side_support{
      width: 100%;
    }

    .support_header{
      font-size: 30px;
      width: 100%;
    }

    .support_desc{
      font-size: 15px;
      margin-top: 10px;
    }
    .rating_support{
      margin-top: 15px;
    }
  
    .publishing_desc,.analytics_desc,.engagement_desc{
      font-size: 15px;
      width: 80%;
    }
    .publishing_img,.analytics_img,.engagement_img{
      width: 20px;
      height: 20px;
    }

    /* Benefits */
    .benefit_left{
      width: 350%;
      flex-wrap: wrap;
    }
    .benefits{
      margin-top: 20px;
    }
    .benefit_right{
      display: none;
    }

    /* Plans */
    .plans_center{
      width: 100%;
      justify-content: start;
      align-items: start;

    }
    .plans_header{
     font-size: 35px;
     text-align: left;
width: 90%;
padding-left: 20px;

    }

    .plans_para{
    font-size: 15px;
    padding-left: 20px;
    }

   .plans_type_box{
    margin-left: 20px;
   }

   /* Footer */
   
   .left_side_footer{
    width: 200%;
   }

   .right_side_footer{
    display: none;
   }

   .bottom_email,.footer_links{
    width: 200%;
    flex-wrap: wrap;
   }

   .footer_links{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
   }

   .terms_cond{
    width: 90%;
    flex-wrap: wrap;
    padding: 20px;
   }

   .terms{
    margin-top: 25px;
    
   }
  
  }
  
  
  /* iphone SE */
@media(max-width:375px){
  /* navbar */
  .navbar-main{
    gap: 100px;
    padding-top: 10px;
  }
  .navbar_header{
    font-size: 30px;
  }

  /* Hero */
  .hero-main{
    width: 90%;
    flex-wrap: wrap;
justify-content: start;
  gap: 10px;
  padding: 15px;
  margin-top: 20px;
  }

  .left_section_hero{
    width: 90%;
    padding-left: 0;
  }
  .hero_header{
    font-size: 23px;
    width: 90%;
  }
  .vector_img{
    width: 300px;
  }

  .hero_para{
    width: 90%;
  }

  .trail-btn{
    gap: 15px;
  }
  .free_trail{
    padding: 15px 20px;
 
  }
  .bottom_section-hero{
    flex-wrap: wrap;
  }

  /* Support */

  .rating_support{
    flex-wrap:wrap ;
    justify-content: space-between;
    gap: 45px;
  } 

  /* Features */
  .feature_main{
    margin: 5px;
    padding-left: 2px;
  }

  .feature_btn{
    margin-right: 0;
  }
 
  /* BeneFits */
  .benefit_main{
width: 100%;
margin: 0;
  }
  .benefit_left{
   width: 98%;
   margin: 30px;
   margin-top: 50px;
   justify-content: end;
   align-items: end;
   flex-wrap: wrap;
  padding-left: 10px;
  }
  .benefit_header{
    font-size: 20px;
   
  }
/* Plans */

.business_plan{
  margin-left: 0;
}


  /* Footer */

  .footer_main{
    padding: 0;
    width: 100%;
  }
  .left_side_footer{
    width: 98%;
    padding: 10px 0 0 10px;
  }

  .footer_header{
    font-size: 30px;
    width: 100%;
  }
  .bottom_email{
    width: 300%;
  }
.footer_links{
  width: 300%;
}
  .footer_people{
    flex-wrap: wrap;
  }
 

}